body{background-image: url("public/img/pattern.jpg");
    margin: 0;
    padding: 0;
}
nav{
    overflow: hidden;
    background-color: white;
    display: inline;
}
div{
    text-align: left;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 40px;
    margin-top: 50px;
}
article{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
}
header{
    background-color: white;
    position: fixed;
    z-index: 9999;
    width: 100%;
}
ul{
    float: right;
}
li{
    float: left;
    width:60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    list-style: none;
    text-decoration: underline;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
}