nav{
    background-image: url(https://image.freepik.com/free-vector/spot-light-background_1284-4685.jpg)
}
h5{
    color: black;
}
body{
    background-image: url(https://data.1freewallpapers.com/detail/wall-bricks-black-paint.jpg)
}
